<!DOCTYPE html>
<html lang="it">
<head>
    <!-- <link rel="stylesheet" href="style.css" /> -->
    <title>{% block title %}{{CdZ.name}}: Eventi Automatici per Il Consiglio di Zona <b>{{CdZ.zona}}</b>{% endblock %}</title>
</head>

<body>
    {% block head %}
	<h1>{{CdZ.description}}</h1>
    {% endblock %}
    <div id="commissioni_da_creare">
        {% block commissioni_da_creare %}
        {% if commissioni_new %}
        <h2> Commissioni non ancora associate a eventi</h2>
        <form action="{% url 'consigli.cdz' CdZ.pk %}" method="post">
		{% csrf_token %}
        <ul>
	        {% block lista_commissioni_da_creare %}
	        {% for c in commissioni_new %}
            	<li> <a href="{{ c.url }}">Commissione {{ c.nr }} {{ c.nome }}</a>
            	<input type="text" hidden="true" name="creare_{{ forloop.counter }}_nr" value="{{ c.nr }}" />
            	<input type="text" hidden="true" name="creare_{{ forloop.counter }}_nome" value="{{ c.nome }}" />
            	<input type="text" hidden="true" name="creare_{{ forloop.counter }}_url" value="{{ c.url }}" />
            	<input type="text" hidden="true" name="creare_{{ forloop.counter }}_data" value="{{ c.data }}" />
            	<input type="text" hidden="true" name="creare_{{ forloop.counter }}_inizio" value="{{ c.inizio }}" />
            	<input type="text" hidden="true" name="creare_{{ forloop.counter }}_fine" value="{{ c.fine }}" />
        		<input type="text" hidden="true" name="creare_{{ forloop.counter }}_congiunta" value="{{ c.congiunta }}" />
        		<input type="checkbox" name="creare" id="creare{{ forloop.counter }}" value="{{ forloop.counter }}" />
        		</li>
            {% endfor %}
      	    {% endblock %}
		<input type="submit" value="Submit" name="submit" />
        </ul>
		</form>
		{% endif %}
        {% endblock %}
    </div>
</body>
</html>
